*.keras
*.h5
*.hdf5
*.pkl
*.ckpt
brain_tumor_vgg16.keras
brain_tumor_vgg16.keras 

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.env
.env.*
*.egg-info/
dist/
build/
instance/
*.pem
.venv/
venv/
env/
ENV/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
backend/Dataset/
backend/Data/
backend/Dataset_split/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/.vite/

htmlcov/
.tox/
.nox/
coverage.xml
.coverage
.cache/
.pytest_cache/

*.tmp
*.bak
*.old
